nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3em;
}

nav > img {
  max-width: 7.5em;
}

ul {
  display: flex;
}

ul > li {
  margin-left: 3em;
  list-style-type: none;
  transition: 0.6s;
}
ul > li:hover {
  color: white;
  text-decoration: underline;
  transition: 0.6s;
}

@media screen and (max-width: 450px) {
  nav > img {
    max-width: 6rem;
  }
  ul > li {
    margin-left: 0.75em;
  }
}
